p{
    color: blue; background-color: blanchedalmond; text-align: center;border: 5px solid; border-radius: 7px; border-color: brown;
}
h1{
    color: brown;text-align: center; text-decoration:underline blue;}
    h2{
        color: rgb(128, 194, 43);text-align: center; text-decoration:underline rgb(146, 32, 76);

    }